.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 5vmin;
    pointer-events: none;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerTitle{
  color: #ccc !important;
  font-size: 48px;
  text-align: center;
  padding: 0%;
  margin: 0%;
  border: 0px;
}

.footerText{
  color: #ccc !important;
  font-size: 16px;
  text-align: center;
  padding-top: 150px;
  padding: 0%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  row-gap: 20px;
}

hr {
  width: 1220px !important;
  /* border: rgb(243, 176, 6) solid 1px !important; */
  border: #61dafb solid 1.5px !important;
  /* color: #61dafb; */
  
}




